[tool.poetry]
name = "annofab-3dpc-editor-cli"
version = "0.1.9a1"
description = ""
authors = ["Kurusugawa Computer Inc."]
packages = [
    { include = "anno3d" }
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
annofabapi = ">=0.62.0"
dataclasses-json = "^0.5.7"
fire = "^0.3.1"
more-itertools = "^8.5.0"
numpy = "^1.23.0"
scipy = "^1.9.0"
boto3 = "^1.17.20"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
mypy = "^0.971"
flake8 = "^4.0.1"
black = "^22.6.0"
isort = "^5.10.1"
pylint = "^2.9.3"
# document
sphinx = "^5.1.1"
pydata-sphinx-theme = "^0.9.0"
recommonmark = "^0.7.1"
types-requests = "^2.25.0"

[tool.black]
line-length = 120
exclude = '''
(
    migrations
    | .mypy_cache
    | .pytest_cache
    | venv
    | dist
    | .git
    | .idea
    | .devcontainer
)
'''

[tool.isort]
include_trailing_comma = true
line_length = 120
multi_line_output = 3

[tool.poetry.scripts]
anno3d = "anno3d.app:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
